<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Authorization</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6" >
            <form method="post" th:action="@{/login}">
            <label for="usernameLog" class="form-label">Username</label>
            <input type="text" id="usernameLog" class="form-control" name="login">
            <label for="passLog" class="form-label">Password</label>
            <input type="password" id="passLog" class="form-control" name="password"><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#signInModal">Sign in</button>
                <button class="btn btn-primary me-md-2" type="submit">Log in</button>
            </div>
            </form>
            <form method="post" th:action="@{/authorization/signIn}" th:object="${signIn}">
            <div class="modal fade" id="signInModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Sign in</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="usernameSign" class="form-label">Username</label>
                                <input type="text" class="form-control" id="usernameSign" placeholder="Enter username" th:field="*{username}">
                            </div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter first name" th:field="*{firstName}">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter last name" th:field="*{lastName}">
                            </div>
                            <div class="mb-3">
                                <label for="passSign" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passSign" placeholder="Enter password"><br>
                                <input type="password" class="form-control" placeholder="Confirm password" th:field="*{password}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>